/*** GENERAL RULES ***/

    * {
        box-sizing: border-box;
    }


    html, body {
        font-family: system-ui, "Segoe UI", 
        Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", 
        "Segoe UI Emoji", "Segoe UI Symbol";

        margin: 0;
        padding: 0;
    }

    body {
        display: grid;
        grid-template: 20vh 80vh / 360px 1fr;
    }

    a:link {
        text-decoration: none;
    }
    

/** SIDEBAR **/

.sidebar {
    background-color: rgb(0, 140, 255);
    color: white;
    grid-row: 1 / -1;
    display: grid;
    grid-template-rows: 50px 1fr 2fr;
    gap: 20px;

    z-index: 2;
}

.logo {
    display: grid;
    grid-template-columns: 100px 1fr;
    align-items: center;
}

.logo h2 {
    font-size: 1.75rem;
}

.nav, .settings {
    padding: 32px;
}

ul {
    list-style-type: none;
    font-weight: 700;
    display: grid;
    gap: 12px;
}

li {
    font-size: 1.5rem;
}

li a:link, li a:visited {
    color: white;
}



/** HEADER **/

header {
    display: grid;
    grid-template-rows: 1fr 2fr;
    gap: 24px;
    padding: 12px 60px;

    z-index: 1;
    box-shadow: 1px 1px 8px grey;
}
    

.header-top {
    display: grid;
    grid-template-columns: 1fr repeat(3, auto);
    align-items: center;
    gap: 16px;

}

.header-top form {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 16px;
    
}

input[type="search"] {
    background-color: #e1e8ee;
    border: none;
    border-radius: 16px;
    padding: 8px;
    max-width: 800px;
} 

.user-profile:link, .user-profile:visited {
    font-weight: 700;
    color: black;
}



.introduction {
    display: grid;
    grid-template-columns: 1fr repeat(3, auto);
    align-items: center;
    gap: 32px;

}

.user-greeting {
    display: grid;
    grid-template: auto 1fr / auto 1fr;
    align-items: center;
    gap: 6px 24px;
    font-weight: 700;
}

.user-pfp {
    grid-row: 1 / -1;
}

.greeting {
    font-size: 0.9rem;
}

.username {
    font-size: 1.5rem;
}

.introduction-button {
    color: white;
    background-color: rgb(0, 140, 255);
    border: none;
    border-radius: 24px;
    padding: 12px 32px;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
}

.introduction-button:hover {
    background-color: rgb(0, 120, 235);
}


/** MAIN **/

main {
    background-color: #e1e8ee;
}