/*** GENERAL RULES ***/

    * {
        box-sizing: border-box;
    }


    html, body {
        margin: 0;
        padding: 0;
    }

    body {
        display: grid;
        grid-template: 22vh 78vh / 360px 1fr;
    }

/** SIDEBAR **/

.sidebar {
    background-color: rgb(0, 140, 255);
    grid-row: 1 / -1;
}

/** HEADER **/

header {
    
}

/** MAIN **/

main {
    background-color: #DDD;
}